.button {
    color: white;
    border: 1px solid white;
    background-color: #d60200;
    text-transform: uppercase;
    font-size: 0.8em;
    margin: 10px 0;
    padding: 5px 0;
    max-width: 400px;
    max-height: 400px;
    width: calc(100vw);
    height: calc(100vw - 10px);
    border-radius: 50%;
    outline: none;
}

.button:hover {
    background-color: #ee0200;
    cursor: pointer;
}