.time {
    top: 50%;
    color: #dcdcdc;
    font-family: 'Origa', monospace;
    font-size: 4em;
    user-select: none;
}

@media screen and (max-width: 420px) {
    .time {
        font-size: 18vw;
    }
}