.button {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    background-color: inherit;
    text-transform: uppercase;
    font-size: 0.8em;
    margin: 10px 0;
    padding: 5px 0;
    width: 200px;
    outline: none;
}

.button:hover {
    background-color: #f5544e;
    cursor: pointer;
}