.button {
    border: 0;
    background-color: inherit;
    color: white;
    outline: none;
    padding: 5px 10px;
    font-size: 0.75em;
}
.button:hover {
    background-color: rgba(223,223,223,0.44);
    cursor: pointer;
}

.active {
    background-color: rgba(223,223,223,0.44);
}