@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400&display=swap');
@font-face {
    font-family: 'Noto Mono';
    src: url('/src/fonts/NotoMono-Regular.woff2');
}

html {
    margin: 0;
    padding: 0;
}

body {
    color: #e1e1e1;
    margin: 0 auto;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px;
}
